{% extends 'base.html.twig' %}

{% block body %}
    <h1>Object</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ object.name }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('object_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('object_edit', { 'id': object.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
