<div class="jumbotron">
    <h1 class="panel-title text-center">CONNECTÉ
        <a href="{{ path('disconnect') }}" class="pull-right">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </h1>
</div>
<div class="menu">
    {% for moveOutRoom in moveOutRooms %}
        <a href="{{ path('user_object_index', {'id':moveOutRoom.id}) }}">
            <div class="btn btn-block btn-lg inputFormRoomList">
                <div class="pull-left">
                    <span class=badge>{{ moveOutRoom.moveOutRoomObjects|length}}</span>
                    {{ moveOutRoom.room.name }}
                </div>
                {{ form_start(delete_forms[moveOutRoom.id]) }}
                <button type="submit" class="btn btn-danger pull-right">
                    <span class="fa fa-trash-o"></span>
                </button>
                {{ form_end(delete_forms[moveOutRoom.id]) }}
            </div>
        </a>
    {% endfor %}
            <ul>
                {% for object in moveOutRoom.moveOutRoomObjects %}
                    <li>{{ object.object.name }}<a href="{{ path('move_out_room_object_delete', {'id':object.id }) }}"><span class="fa fa-remove"></span></a></li>
                {% endfor %}
            </ul>
        {% endfor %}
</div>